/* mobile first */
*, *::after,*::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
}

header{ 
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.551);
}

.container{
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

.header{
  padding: 10px 0;
}

.logo{
  margin: 0;
  padding: 0;
  font-size: 1.85rem;

  /* background-color: burlywood; */
}

.logo-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: brown; */
}
.nav-toggle{
  display: none;
}
.nav-toggle-btn{
  font-size: 18px;
  font-weight: bolder;
  padding: 16px;
  padding: 0;
  height: 30px;
  position: relative;
  color: blue;
  transition: all .25s;
}

.nav-toggle-btn_open{
  transform: rotate(90deg);
}


.nav-toggle-btn::after, .nav-toggle-btn::before{
  content: '__';
  position: absolute;
}
.nav-toggle-btn::after{
  top: -10px;
  left: 0;
  right: 0;
}
.nav-toggle-btn::before{
  top: -3px;
  left: 0;
  right: 0;
}


.logo span{
  color: rgb(1, 147, 150);
}

.hide-navbar{
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: all .15s;
}
.show-navbar{
  visibility: visible;
  height: auto;
}

.nav_list{
  list-style: none;
  padding: 10px 0;
  margin: 0;
  /* background-color: chartreuse; */
}

.nav_item{
  padding: 10px 15px;
  margin: 5px 0;
  transition: all .15s;
}

.nav_item:hover{
  background-color: rgb(1, 147, 150);
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 40px;
}
.nav_item:hover .nav_link{
  color: white;
}

.nav_link{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
}

.social-media{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.social_link, .nav_link{
  text-decoration: none;
  color: black;
}

.sm-icon{
  padding: .1em .45em;
  background-color: rgb(0, 119, 254);
  border-radius: 50%;
}
.social_link{
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 701px) {
  .nav-toggle-btn{
    display: none;
  }

  .header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }


  .show-navbar, .hide-navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex: 1;

    /* background-color: aqua; */
    visibility:visible;
    height: auto;
  }
  .nav_list{
    display: flex;
    gap: 10px;
    align-items:baseline;
    justify-content: center;

    /* background-color: cornflowerblue; */
    flex: 1.5;
  }

  .nav_item:hover .nav_link{
    color: black;
  }
  .nav_item, .nav_item:hover{
    padding: 0;
    background-color: transparent;
  }

  .nav_item{
    position: relative;
  }

  .nav_item:hover::before{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color:rgb(0, 119, 254);
  }

  .social-media{
    flex: .5;
    align-items: baseline;
    /* background-color: blanchedalmond; */
  }
}
